.element-selector-menu {
  background-color: fc945c;
  width: 90%;
  min-height: 175px;
}

/* Tab Styling... */
.tabs-selector {
  border-radius: 5px;
  background-color: #1d8698;
  border: none !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav {
  border: none;
}

.tab-content {
  margin-top: 10px;
}

.nav-link {
  color: white !important;
  background-color: #1d8698 !important;
  border: none !important;
  height: 100%;
}

.active {
  background-color: white !important;
  color: black !important;
}

/* Tab Contents */
.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  height: 110px;
}

.element-selector {
  padding: 2px 10px 2px 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: #1d8698;
  color: white;
  cursor: pointer;
  height: 35px;
}

.element-selector:hover {
  transition: 1s;
  background-color: #fc945c;
}