.element-selector-menu {
  background-color: white;
  width: 90%;
}

.elements-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}

.element-selector {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  background-color: lightblue;
  cursor: pointer;
}

.element-selector:hover {
  transition: 1s;
  background-color: rgb(119, 147, 156);
}