.arrangement-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  width: 90%;
  padding: 10px;
  min-height: 60px;
  border-radius: 5px;
}

.tiles-list {
  padding: 5px 0px;
  margin: 0px;
}

.element-tile {
  margin: 2px;
  padding: 0px 5px;
  border-radius: 5px;
  display: inline-block;
  background-color: #fc945c;
  color: white;
  cursor: pointer;
}

.active {
  color: white;
  background-color: #1d8698;
}

.arrangement-controls {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

.delete-element-button {
  margin: 0px 5px;
  background-color: #1d8698;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.controls-left {
  display: flex;
  flex: 2;
}

.controls-right {
  display: flex;
  justify-content: end;
  flex: 2;
}

.controls-center {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
}

.font-color-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.color-select-label {
  margin-right: 10px;
}

.font-color-selector-box {
  display: flex;
  justify-content: center;
  height: 34px;
  width: 34px;
  background-color: white;
  border-radius: 5px;
  position: relative;
}

.color-preview-box {
  width: 25px;
  height: 15px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.down-arrow {
  position: absolute;
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  bottom: 5px;
  right: 13px;
  cursor: pointer;
}

.color-palette {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -40px;
  left: -90px;
  background-color: lightgray;
  padding: 5px;
}

.color-sample {
  width: 20px;
  height: 20px;
  margin: 0px 2.5px;
}