.app-wrapper {
  padding: 20px;
  height: 100vh;
  background-color: blue;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.app-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0px;
  color: white;
  background-color: green;
}